*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* lista menu */

header{
    height: 300px;
    background-color: blue;
    color: white;
    font-size: 15px;

}

/* navigazione */
nav{
    display: flex;
    justify-content: center;
}

#logo{
    width: 25%;
    display: flex;
    justify-content: left;
    /* DEBUG */
    background-color: brown;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 50%;
}

li{
    padding: 10px 10px;
}

#accedi{
    width: 25%;
    display: flex;
    justify-content: right;
}

a{
    color: black;
    text-decoration: none;
    background-color:white;
    padding: 15px 30px ;
}

/* descrizione discord */
#descrizione{
    display: flex;
    justify-content: center;
    /* width: 50%; */
    text-align: center;
}

section{
    padding: 20px 25%;
}

/* bottoni */
#link{
    margin-top: 30px;
}

#browser{
    background-color: black;
    color: white;
}

/* fine header */


/* inizio Main */
.main{
    display: flex;
    justify-content: center;
}

/* fine Main */


/* inizio Footer */
